<phpunit>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../Application/Model</directory>
            <directory suffix=".php">../Application/Controller</directory>
            <directory suffix=".php">../extend/Application/Controller/Admin</directory>
        </whitelist>
    </filter>
</phpunit>